@model WebsiteBanHang.Context.Hangsanxuat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<div>
    <h4>Hãng sản xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên hãng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenhang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
