@model WebsiteBanHang.Context.Hangsanxuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Hãng sản xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên hãng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenhang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Mahang }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
