<style type="text/css">
    .giohang {
        color: black;
        font-size: large;
    }
</style>

<a href="@Url.Action("Giohang","Giohang")" class="giohang">
    Giỏ hàng<i class="fa fa-shopping-cart">
    </i> (@ViewBag.TongSoLuong)
</a>
